<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intitial-scale=1.0">
    <title>Upload</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styleqrcode.css">
    <link rel="stylesheet" href="../static/styleupload.css">
</head>

<body class="body-qrcode">
    <nav>
        <div class="sidebar-top">
            <span class="shrink-btn">
                <i class='bx bx-chevron-left'></i>
            </span>
            <img src="../img/logo.png" class="logo" alt="">
            <h3 class="hide">Aqumex</h3>
        </div>

        <div class="search">
            <i class='bx bx-search'></i>
            <input type="text" class="hide" placeholder="Quick Search ...">
        </div>

        <div class="sidebar-links">
            <ul>
                <div class="active-tab"></div>
                <li class="tooltip-element" data-tooltip="0">
                    <a href="file:///C:/Users/OBED/test-dir/qrcode/templates/qrcode.html" data-active="0">
                        <div class="icon">
                            <i class='bx bx-tachometer' ></i>
                            <i class='bx bxs-tachometer'></i>
                        </div>
                        <span class="link hide">QR Code</span>
                    </a>
                </li>

                <li class="tooltip-element" data-tooltip="1">
                    <a href="file:///C:/Users/OBED/test-dir/qrcode/templates/upload.html#" class="active" data-active="1">
                        <div class="icon">
                            <i class='bx bx-folder' ></i>
                            <i class='bx bxs-folder' ></i>
                        </div>
                        <span class="link hide">Upload</span>
                    </a>
                </li>

                <li class="tooltip-element" data-tooltip="2">
                    <a href="#" data-active="2">
                        <div class="icon">
                            <i class='bx bx-message-square-detail' ></i>
                            <i class='bx bxs-message-square-detail' ></i>
                        </div>
                        <span class="link hide">Messages</span>
                    </a>
                </li>

                <li class="tooltip-element" data-tooltip="3">
                    <a href="#" data-active="3">
                        <div class="icon">
                            <i class='bx bx-bar-chart-square' ></i>
                            <i class='bx bxs-bar-chart-square' ></i>
                        </div>
                        <span class="link hide">Analytics</span>
                    </a>
                </li>
                <div class="tooltip">
                    <span class="show">QR Code</span>
                    <span>Projects</span>
                    <span>Messages</span>
                    <span>Analytics</span>
                </div>
            </ul>

            <h4 class="hide">Shortcuts</h4>

            <ul>
                <li class="tooltip-element" data-tooltip="0">
                    <a href="#" data-active="4">
                        <div class="icon">
                            <i class='bx bx-notepad'></i>
                            <i class='bx bxs-notepad'></i>
                        </div>
                        <span class="link hide">Task</span>
                    </a>
                </li>

                <li class="tooltip-element" data-tooltip="1">
                    <a href="#" data-active="5">
                        <div class="icon">
                            <i class='bx bx-help-circle' ></i>
                            <i class='bx bxs-help-circle' ></i>
                        </div>
                        <span class="link hide">Help</span>
                    </a>
                </li>

                <li class="tooltip-element" data-tooltip="2">
                    <a href="#" data-active="6">
                        <div class="icon">
                            <i class='bx bx-cog' ></i>
                            <i class='bx bxs-cog' ></i>
                        </div>
                        <span class="link hide">Settings</span>
                    </a>
                </li>
                <div class="tooltip">
                    <span class="show">Tasks</span>
                    <span>Help</span>
                    <span>Settings</span>
                </div>
            </ul>


        </div>

        <div class="sidebar-footer">
            <a href="#" class="account tooltip-element" data-tooltip="0">
                <i class='bx bx-user' ></i>
            </a>
            <div class="admin-user tooltip-element" data-tooltip="1">
                <div class="admin-profile">
                    <img src="../img/face-1.png" alt="">
                    <div class="admin-info">
                        <h3>Uwaifo Obed</h3>
                        <h5>Admin</h5>
                    </div>
                </div>
                <a href="#" class="log-out">
                    <i class='bx bx-log-out'></i>
                </a>
            </div>
            <div class="tooltip">
                <span class="show">Uwaifo Obed</span>
                <span>Logout</span>
            </div>
        </div>
    </nav>

    <main>
        <div class="upload-form">
            <form class="dropzone-box body-upload">
                <h2>Upload File</h2>
                <p>Click to upload or drag and drop</p>
                <div class="dropzone-area" role="region" aria-live="polite">
                    <label for="upload-file" class="file-upload-icon" aria-hidden="true">
                        <!-- svg -->
                        <img src="../img/upload.svg" alt="" class="svg">
                    </label>
                    <input 
                        type="file" required multiple id="upload-file"
                        name="uploaded-file" accept="image/*"
                        aria-describedby="file-info"
                    >
                    <div id="file-info" class="file-info">
                        <p>No Files Selected</p>
                    </div>
                </div>
    
                <div class="dropzone-description">
                    <span>Supported formats: JPEG, JPG, PNG, ...</span>
                    <span>Max file size: 25MB</span>
                </div>
    
                <div class="dropzone-actions">
                    <div class="dropzone-help">
                        <!-- svg -->
                        <img src="../img/question mark.svg" alt="" class="svg">
                        Help Center
                    </div>
                    <div class="actions-buttons">
                        <button type="reset" aria-label="Cancel file selection">
                            Cancel
                        </button>
                        <button
                            id="submit-button" type="submit"
                            aria-label="Upload selected files"
                        >
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
        
        
        <footer class="main footer">
            <p class="copyright">
                &copy; 2025 - <span>Aqumex</span> All Rights Reserved.
            </p>
        </footer>
    </main>
    <script src="../static/app.js"></script>
</body>

</html>
